<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="form-container">
        <h2>Введите секретный код пожалуйста</h2>
        <form id="loginForm">
            <input type="text" id="key" placeholder="Введите ключ" required>
            <button type="submit">Войти</button>
        </form>
        <p id="errorMessage" style="color: red; display: none;">Неверный ключ! Попробуйте снова.</p>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const enteredKey = document.getElementById('key').value;
            const correctKey = 'businka';  // Замените на ваш реальный ключ

            if (enteredKey === correctKey) {
                window.location.href = 'dashboard.html';  // Перенаправление на дашборд
            } else {
                document.getElementById('errorMessage').style.display = 'block';
            }
        });
    </script>
</body>
</html>
